<h1>Author: <%= @author.name %></h1>
<img src= <%= @author.image %>>
<%= link_to "Delete", author_path(@author), method: :delete, data: {confirm: "Do you really want to delete this author?"} %>

<h2>Books by the Author</h2>
<div id="books">
  <% @author.books.each do |book| %>
    <div id="book-<%= book.id %>">
      <img src= <%= book.image %>>
      <%= link_to book.title, book_path(book), class: "book-title" %>
      <p>Pages: <%= book.pages %></p>
      <% if book.other_authors(@author).size > 0 %>
        <p>Other Authors: <%= book.other_authors(@author).first.name %></p>
      <% end %>
      <div>
        <h3>Top Review:</h3>
        <p><%= book.top_reviews(1).first.title %></p>
        <p>Score: <%= book.top_reviews(1).first.score %>/5</p>
        <p>-<%= book.top_reviews(1).first.user.name %></p>

      </div>
    </div>
    <% end %>
</div>
