<div class="book-stats">
      <h2>Title: <%=@book.title%></h2></br>
      <h2>Author(s): <%@book.authors.each do |author|%>
        <%=author.name%>
        <%end%>
      </h2></nr>
      <h2>Pages: <%=@book.pages%></h2></br>
      <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Do you really want to delete this author?"} %>
      <%= link_to "Create a New Review", new_book_review_path(@book), class: "new-review" %>

      <h2>Total Reviews: <%=@book.reviews.count%></h2></br>
      <% @book.reviews.each do |review| %>
      <div class="reviews">
        <h2>User: <%=review.user.name%></h2></br>
        <h2>Review name: <%=review.title%></h2></br>
        <h2>Review: <%=review.description%></h2></br>
        <h2>Score: <%=review.score%>/5</h2></br>
      </div>
      <% end %>
    </div>
  </div>
</div>
